In [25]:
import pandas as pd
from sklearn import linear_model

In [26]:
df = pd.read_csv("data/home_prices_multiple_variables.csv")

In [27]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [28]:
df.bedrooms.fillna(df.bedrooms.median(), inplace=True)

In [29]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [30]:
X = df.drop('price', axis='columns')

In [24]:
y = df.price

In [32]:
reg = linear_model.LinearRegression()
reg.fit(X,y)

LinearRegression()

#### Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [37]:
reg.predict([[3000, 3, 40]])

/usr/local/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [41]:
112.06244194*3000 + 23388.88007794*3 + -3231.71790863*40 + 221323.00186540384

498408.25157402386

#### Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

In [38]:
reg.predict([[2500, 4, 5]])

/usr/local/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [39]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [40]:
reg.intercept_

221323.00186540396